github "PureSwift/GATT" "master"
github "PureSwift/JSON" "master"
github "krzyzanowskim/CryptoSwift"
github "kishikawakatsumi/KeychainAccess"
github "JonasGessner/JGProgressHUD"
github "ColemanCDA/BSON" "master"
